.tweet-list
  = render "users/left-side-bar"
  .tweet-list__center
  .tweet-list__color
  .tweet-list__content
    .tweet-list__content__top
      プロフィール
    = image_tag "https://www.mercari.com/jp/assets/img/mypage/user-bg.jpg?12295559", class: "tweet-list__content__backimage"
    .tweet-list__content__edit
      プロフィール編集
    = image_tag "/nonimage-icon.jpeg", class: "tweet-list__content__icon"
    .tweet-list__content__explanation
      .tweet-list__content__explanation__name
        dbuck
      .tweet-list__content__explanation__followbox
        .tweet-list__content__explanation__followbox__text
          フォロー：
        .tweet-list__content__explanation__followbox__number
          120
      .tweet-list__content__explanation__followerbox
        .tweet-list__content__explanation__followbox__text
          フォロワー：
        .tweet-list__content__explanation__followbox__number
          100
    .tweet-list__content__ID
      @dbuck
    .tweet-list__content__introduction
      introbooktionマスコットキャラクターのdbuck（ダック）です。読んだ本の感想を積極的に投稿していこうと思います。よろしくお願いします。
      .tweet-list__content__number__follower
    .tweet-list__content__start
      dbuckさんは2019年10月31日からintrobooktionを始めています。
    .tweet-list__content__tablist
      .tweet-list__content__tablist__tab.is_active
        投稿
      .tweet-list__content__tablist__tab
        写真
      .tweet-list__content__tablist__tab
        いいね
    .tweet-list__content__tabcontent.is_shown
      .tweet-list__content__timeline
        .tweet-list__content__timeline__image
          = image_tag "/nonimage-icon.jpeg", class: "tweet-user-icon"
        .tweet-list__content__timeline__content
          .tweet-list__content__timeline__content__top
            .tweet-list__content__timeline__content__top__namebox
              .tweet-list__content__timeline__content__top__namebox__name
                dbuck
              .tweet-list__content__timeline__content__top__namebox__ID
                @dbuck
              .tweet-list__content__timeline__content__top__namebox__time
                3h
            .tweet-list__content__timeline__content__top__chevron
              = fa_icon "chevron-down"
          .tweet-list__content__timeline__content__impression
            これ読んでみたけど確かにどこで情報得たんだってぐらい詳しく書いてあった。みうらじゅんさん恐るべし。。。
          .tweet-list__content__timeline__content__retweetbox
            .tweet-list__content__timeline__content__retweetbox__top
              .tweet-list__content__timeline__content__retweetbox__top__image
                = image_tag "/チーバくん.jpg", class: "retweet-user-icon"
              .tweet-list__content__timeline__content__retweetbox__top__name
                チーバくん
              .tweet-list__content__timeline__content__retweetbox__top__ID
                @chibakun
              .tweet-list__content__timeline__content__retweetbox__top__time
                8h
            .tweet-list__content__timeline__content__retweetbox__impression
              全国のゆるキャラについて詳細に書かれている本。自分のことも「自分より詳しいのでは？」と思うぐらい詳細に記載されていた。名著である。
          .tweet-list__content__timeline__content__button
            .tweet-list__content__timeline__content__button__comment
              = far_icon "comment"
              2
            .tweet-list__content__timeline__content__button__retweet
              = fa_icon "retweet"
              0
            .tweet-list__content__timeline__content__button__heart
              = far_icon "heart"
              0
      .tweet-list__content__timeline
        .tweet-list__content__timeline__image
          = image_tag "/nonimage-icon.jpeg", class: "tweet-user-icon"
        .tweet-list__content__timeline__content
          .tweet-list__content__timeline__content__top
            .tweet-list__content__timeline__content__top__namebox
              .tweet-list__content__timeline__content__top__namebox__name
                dbuck
              .tweet-list__content__timeline__content__top__namebox__ID
                @dbuck
              .tweet-list__content__timeline__content__top__namebox__time
                3h
            .tweet-list__content__timeline__content__top__chevron
              = fa_icon "chevron-down"
          .tweet-list__content__timeline__content__impression
            これ読んでみたけど確かにどこで情報得たんだってぐらい詳しく書いてあった。みうらじゅんさん恐るべし。。。
          .tweet-list__content__timeline__content__retweetbox
            .tweet-list__content__timeline__content__retweetbox__top
              .tweet-list__content__timeline__content__retweetbox__top__image
                = image_tag "/チーバくん.jpg", class: "retweet-user-icon"
              .tweet-list__content__timeline__content__retweetbox__top__name
                チーバくん
              .tweet-list__content__timeline__content__retweetbox__top__ID
                @chibakun
              .tweet-list__content__timeline__content__retweetbox__top__time
                8h
            .tweet-list__content__timeline__content__retweetbox__impression
              全国のゆるキャラについて詳細に書かれている本。自分のことも「自分より詳しいのでは？」と思うぐらい詳細に記載されていた。名著である。
          .tweet-list__content__timeline__content__button
            .tweet-list__content__timeline__content__button__comment
              = far_icon "comment"
              2
            .tweet-list__content__timeline__content__button__retweet
              = fa_icon "retweet"
              0
            .tweet-list__content__timeline__content__button__heart
              = far_icon "heart"
              0
      -# .tweet-list__content__tabcontent__top
      -#   .tweet-list__content__tabcontent__top__icon
      -#     = render "icon/icon3"
      -# .tweet-list__content__tabcontent__text
      -#   まだ投稿はありません
    .tweet-list__content__tabcontent
      .tweet-list__content__tabcontent__top
        .tweet-list__content__tabcontent__top__icon
          = render "icon/icon3"
      .tweet-list__content__tabcontent__text
        まだ写真はありません
    .tweet-list__content__tabcontent
      .tweet-list__content__tabcontent__top
        .tweet-list__content__tabcontent__top__icon
          = render "icon/icon3"
      .tweet-list__content__tabcontent__text
        まだいいねはありません
  = render "users/right-side-bar"